@{
    ViewData["Title"] = "Translate";
}

<partial name="_Notification" />

<div class="m-5">

    <div>
        <div class="pt-5 text-center">
            <h1 class="display-1 text-info-emphasis">Welcome To MS Translates</h1>
            <h5 class="display-6 text-capitalize text-success-emphasis fw-semibold">Translations simplfied.</h5>
        </div>

        <div>

            @(await Html.RenderComponentAsync<TranslateComponent>(RenderMode.Server))

        </div>

    </div>

</div>