@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav  me-5">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">
                        Change Password
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Logout
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">
                        Register
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
