@model List<TranslatorModel>
@{
    ViewData["Title"] = "Translators";
}

<partial name="_Notification" />

<div class="container">
    <div class="card card-outline-info shadow-lg mt-4 p-2">
        <div class="card-header bg-secondary bg-gradient mt-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Translators</h2>

                </div>
            </div>
        </div>

        <div class="mt-3">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Base Url</th>
                        <th>Api Key</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null)
                    {
                        foreach (var t in Model)
                        {
                            <tr>
                                <td>@t.Name</td>
                                <td>@t.BaseUrl</td>
                                <td>@t.ApiKey</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Translator" asp-action="Detail" asp-route-id="@t.Id" class="btn btn-primary">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>

        <div>
            <a asp-controller="Translator" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle">
                    New
                </i>
            </a>
        </div>
    </div>
</div>